</head>

<body>
    <div class="bg">
        <header>
            <div class="main wrap">
                <h1><a id="link_home_img"><img id="logo_src"></a></h1>
                <p data-tr="Atzeneta d'Albaida, Spain">Atzeneta d'Albaida, Spain<span>+34 999999999</span></p>
            </div>
            <nav>
                <ul class="menu">
                    <li class="current"><a class="home" id="link_home"><img id="home_src"></a></li>
                    <li><a id="link_contact">Contact</a></li>
                    <!-- <li><a href="index.php?module=car&op=dummies">Car Dummies</a></li> -->
                    <!-- <li><select id="select_lang">
                            <option id="button-en">🇬🇧🇺🇸English</option>
                            <option id="button-es">🇪🇸Español</option>
                            <option id="button-val">Valencià</option>
                        </select></li> -->
                    <li><select name="category_search" id="category_search"></select></li>
                    <li><select name="brand_search" id="brand_search"></select></li>
                    <li>
                        <input type="text" name="city_search" id="city_search" placeholder="City" autocomplete="off">
                        <div id="autocomplete"></div>
                    </li>
                    <li><i class="fa-solid fa-magnifying-glass fa-3x" id="search_button"></i></li>
                    <li><div id="user_info"></div></li>
                </ul>
                <div class="clear"></div>
            </nav>
        </header>
        <script>
            $('#link_home_img').attr('href', friendlyURL('?page=home&op=view'));
            $('#link_home').attr('href', friendlyURL('?page=home&op=view'));
            $('#link_contact').attr('href', friendlyURL('?page=contact&op=view'));
            $('#logo_src').attr('src', window.location.origin + '/Concessionaire-Framework_PHP_OO_MVC_JQuery/view/img/logo.png');
            $('#home_src').attr('src', window.location.origin + '/Concessionaire-Framework_PHP_OO_MVC_JQuery/view/img/home.jpg');
        </script>